.imagesContainer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 0;
  max-height: 100vh;
  border-radius: 10px;
}
.imagesWrapper {
  margin: 20px 0 0;
  padding: 20px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-top: 2px solid gray;
}
.imageWrapper {
  max-width: 20%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  overflow: hidden;
}
.image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.imageCoverWrapper {
  width: 100%;
  margin: auto;
  height: 50vh;
}
.imageCoverWrapper img {
  width: 100%;
  height: 100%;
}
.productInformationContainer {
  position: relative;
}
.category {
  text-transform: capitalize;
  color: gray;
}
.price {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid gray;
}
.descriptionWrapper {
  box-sizing: border-box;
  max-height: 140px;
  overflow: hidden;
  position: relative;
  padding-right: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.descriptionWrapperFull {
  box-sizing: border-box;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.showBtn {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  margin: 4px 0;
}
.wishlistBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  background-color: white;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wishlistBtn:hover {
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
}
.reviewsContainer {
  padding: 10px;
}
.myReviewWrapper {
  margin-bottom: 10px;
}
