.brand {
  width: 200px;
  height: 140px;
  margin: 10px;
}

.brandImg {
  overflow: hidden;
  border-radius: 8px;
  width: 200px;
  height: 140px;
  background-color: #f2f2f2;
}
.brandImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.category a {
  text-decoration: none;
  color: black;
}
.category a:hover {
  text-decoration: underline;
}
.brandTitle {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}
